@import url("https://fonts.googleapis.com/css2?family=Poor+Story&display=swap");
.bd_container {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  /* grid-template-rows: repeat(3, 200px); */
  gap: 50px 100px;
  margin-left: 10%;
  margin-top: 1%;
}

.bd_item img {
  width: 250px;
  height: 250px;
}
.bd_select {
  width: 150px;
  height: 35px;
  border-radius: 4px;
  border: 2px solid #7d7eef;
  margin-left: 12%;
  margin-top: 3%;
}
#category {
  width: inherit;
  height: inherit;
  background: transparent;
  border: 0 none;
  outline: 0 none;
  font-family: "Poor Story", cursive;
  /* padding: 0 5px; */
  /* position: relative; */
  /* z-index: 3;  */
}

.bd_action {
  display: grid;
  grid-template-columns: repeat(2, 83%);
}
