html {
  --color-grey-100: rgb(201, 201, 201);
  --color-grey-400: rgb(140, 140, 140);
  --color-grey-700: rgb(76, 76, 76);

  --color-purple-100: #d1d1f4;
  --color-purple-400: #7d7eef;
  --color-purple-700: #3c3d99;

  --color-background: var(--color-purple-100);
}

#da-main {
  width: 45rem;
  margin: 5rem auto;
}

/* 메인 위쪽 부분 */
#da-mainHead {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 2rem;
}

#da-mainHead h1 {
  margin: 0.5rem 0;
  color: var(--color-grey-700);
  font-size: 2.3rem;
}

#da-mainHead button {
  font: inherit;
  background-color: var(--color-purple-400);
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  padding: 0.3rem 1rem;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: bold;
}

#da-mainHead button:hover {
  background-color: var(--color-purple-700);
}

/* 메인 아래쪽 부분 */
#da-mainContainer {
  border: 2px solid var(--color-grey-700);
  padding: 2rem 2rem 4rem 2rem;
  border-radius: 10px;
  background-color: var(--color-background);
}

/* 제목 */
#da-title {
  box-sizing: border-box;
  width: 100%;
  height: 2.3rem;
  padding: 0 0.5rem;
  font: inherit;
  font-weight: bold;
  font-size: 1.3rem;
  border-radius: 4px;
  color: var(--color-grey-700);
}

#da-title::placeholder {
  color: var(--color-grey-100);
}

/* 게시판, 테마, 비공개 선택 */
#da-containerSelect {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  color: var(--color-grey-400);
  font-weight: bold;
}

#da-containerSelect select {
  height: 1.5rem;
  font: inherit;
  color: var(--color-grey-400);
  margin-right: 1rem;
  border-radius: 4px;
}

/* 일기 테마 내부 부분 (추후 크기 지정)*/
#da-userWrite {
  margin-top: 1rem;
  border-radius: 4px;
  padding: 1rem;
}
/* 날짜, 날씨 입력 */
#da-dateWeather {
  display: flex;
  align-items: center;
}
.da-date {
  border: none;
  width: 5rem;
  height: 5rem;
  font: inherit;
  font-size: 2rem;
  font-weight: bold;
  text-align: right;
  background-color: var(--color-background);
}
#da-dateToday {
  width: 6rem;
}

#da-weather {
  width: 21rem;
  text-align: right;
}
#da-weather input {
  display: none;
}
#da-weather input:checked + label svg {
  fill: #7d7eef;
}
.da-weathersvg {
  width: 3.5rem;
  height: 2.5rem;
  cursor: pointer;
}
/* 캔버스 */
#da-canvas {
  width: 100%;
  height: 17rem;
  border-top: 1px solid var(--color-grey-700);
}

#da-drawingTool {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

#da-choiceColor {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.da-controlColor {
  width: 1.8rem;
  height: 1.8rem;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
}

/* 펜 두께 선택 */
#da-controlRange {
  width: 8rem;
}

/* 펜 종류 선택 */
#da-choicePen input {
  display: none;
}

#da-choicePen input:checked + label svg {
  fill: #7d7eef;
}

.da-pensvg {
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
}

/* 삭제 버튼 */
#da-drawDelete svg {
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
}

/* 일기 부분 */
#da-write {
  margin-top: 1rem;
  width: 100%;
  background-color: var(--color-background);

  border: none;
  border-top: 1px solid var(--color-grey-700);

  font: inherit;
  font-weight: bold;
  font-size: 1.5rem;

  resize: none;
}
