#sd-html {
  --color-grey-100: rgb(201, 201, 201);
  --color-grey-400: rgb(140, 140, 140);
  --color-grey-700: rgb(76, 76, 76);

  --color-purple-100: #d1d1f4;
  --color-purple-400: #7d7eef;
  --color-purple-700: #3c3d99;

  --color-background: var(--color-purple-100);
  --color-background-none: none;
}
/* 메인 */
#sd-main {
  width: 45rem;
  margin: 5rem auto;
}
/* 게시판 링크 */
#sd-main a {
  width: 1.5rem;
  color: var(--color-grey-400);
  font-weight: bold;
}
/* 테마 적용 부분 */
#sd-mainContainer {
  border: 2px solid var(--color-grey-700);
  margin: 0.5rem 0;
  padding: 2rem 2rem 4rem 2rem;
  border-radius: 10px;
  background-color: var(--color-purple-100);
  background-size: cover;
}
/* 제목 작성자 */
#sd-containerTitle {
  width: 100%;
  height: 4.5rem;
  box-sizing: border-box;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;

  margin: 0 auto;
  padding: 0 1rem;

  font: inherit;
  color: var(--color-grey-700);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#sd-title {
  margin: 0;

  font-size: 2rem;
}

#sd-username {
  font-size: 1.2rem;
  font-weight: bold;
}
/* 그림일기 내부 부분 */
#sd-userwrite {
  margin-top: 1rem;
  height: 38.75rem;
  border-radius: 4px;
  padding: 0 1rem 1rem 1rem;
  background-color: white;
  border: 1px solid black;
}

/* 요일, 날씨 상단 */
#sd-today {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#sd-date {
  display: flex;
}

#sd-date * {
  border: none;
  width: 5rem;
  height: 5rem;
  font: inherit;
  font-size: 2rem;
  font-weight: bold;
  text-align: right;
  background-color: transparent;
  line-height: 5rem;
}

#sd-dateToday {
  width: 6rem;
}

#sd-date p {
  margin: 0;
}

/* 날씨 (이미지) */
#sd-weather {
  width: 18rem;
  height: 5rem;
  background-image: url(./image/sd-weatherSunny.png);
  background-size: cover;
}

/* 그림 (이미지) */
#sd-image {
  width: 100%;
  height: 19rem;
  border-top: 1px solid var(--color-grey-700);
}
/* 일기부분 */
#sd-write {
  width: 100%;
  height: 11rem;
  background-color: var(--color-background-none);

  border: none;
  border-top: 1px solid var(--color-grey-700);

  font: inherit;
  font-weight: bold;
  font-size: 1.5rem;

  resize: none;
}
/* 수정 삭제 버튼 */
#sd-button {
  text-align: right;
}
#sd-button button {
  font: inherit;
  background-color: var(--color-purple-400);
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  margin-right: 0.4rem;
  padding: 0.3rem 1rem;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: bold;
  vertical-align: middle;
}
#sd-button button:hover {
  background-color: var(--color-purple-700);
}
